#body {
	max-width:960px;
	margin: auto;
}

#profile{
	display:none;
}

#tradehist{
	display:none;
}

#reqhist{
	display:none;
}

#portfolio{
	display:none;
}

#request{
	display:none;
}

#addComp{
	display:none;
}

#delComp{
	display:none;
}

#modComp{
	display:none;
}

#mtdew{
	display:block;
	margin: auto;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
